<!DOCTYPE html>
<html lang="zh-cn" class="fullscreen-bg" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="common/links :: common_header(~{::title},~{},~{})">
    <title>催费报表-模块</title>
</head>
<body>
<!-- 页面加载loading -->
<div class="page-loading">
    <div class="ball-loader">
        <span></span><span></span><span></span><span></span>
    </div>
</div>
<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <!-- 表格工具栏 -->
            <form class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">记账会计:</label>
                        <div class="layui-input-inline">
                            <select name="userId" id="userId" placeholder="请选择会计名称" class="seloption"
                                    lay-verType="tips" ></select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">公司名称:</label>
                        <div class="layui-input-inline">
                            <input name="other1" class="layui-input" placeholder="请输入公司名称"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">合同到期时间:</label>
                        <div class="layui-input-inline">
                            <input name="dateRange" class="layui-input icon-date" placeholder="选择日期范围"
                                   autocomplete="off"/>
                        </div>
                    </div>
                    <div class="layui-inline">&emsp;
                        <button class="layui-btn icon-btn" lay-filter="searchBtn" lay-submit>
                            <i class="layui-icon">&#xe615;</i>搜索
                        </button>&nbsp;
                        <button shiro:hasPermission="collectionInfo:export" id="exportBtn" class="layui-btn icon-btn"
                                type="button">
                            <i class="layui-icon">&#xe67d;</i>导出
                        </button>&nbsp;
                        <button class="layui-btn icon-btn" lay-filter="scBaobiao" lay-submit>
                            <i class="layui-icon">&#xe63c;</i>生成报表
                        </button>
                    </div>
                </div>
            </form>
            <!-- 数据表格 -->
            <table id="dataTable" lay-filter="dataTable"></table>
        </div>
    </div>
</div>

<!-- 表格操作列 -->
<script type="text/html" id="tableBar">
    <a shiro:hasPermission="collectionInfo:update" class="layui-btn layui-btn-primary layui-btn-xs"
       lay-event="edit">修改</a>
    <a shiro:hasPermission="collectionInfo:delete" class="layui-btn layui-btn-danger layui-btn-xs"
       lay-event="del">删除</a>
</script>

<!-- 表单弹窗 -->
<script type="text/html" id="formDialog">
    <form id="dataForm" lay-filter="dataForm" class="layui-form model-form">
        <input name="id" type="hidden"/>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">记账会计:</label>
            <div class="layui-input-block">
                <select name="userId" class="layui-select" lay-verify="required" required></select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">公司名称:</label>
            <div class="layui-input-block">
                <input name="other1" placeholder="请输入公司编号" class="layui-input"
                       lay-verType="tips" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">收费金额:</label>
            <div class="layui-input-block">
                <input name="price" placeholder="请输入收费金额" class="layui-input"
                       lay-verType="tips" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">上次收费时间:</label>
            <div class="layui-input-block">
                <input name="upTime" placeholder="请输入上次收费时间" class="layui-input"
                       lay-verType="tips" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">下次收费时间:</label>
            <div class="layui-input-block">
                <input name="nextTime" placeholder="请输入下次收费时间" class="layui-input"
                       lay-verType="tips" lay-verify="required" required/>
            </div>
        </div>
      <!--  <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">收款状态:</label>
            <div class="layui-input-block">
                <input name="status" placeholder="请输入收款状态" class="layui-input"
                       lay-verType="tips" lay-verify="required" required/>
            </div>
        </div>-->
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">合同到期时间:</label>
            <div class="layui-input-block">
                <input name="expirationDate" placeholder="请输入合同到期时间" class="layui-input"
                       lay-verType="tips" lay-verify="required" required/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">备注:</label>
            <div class="layui-input-block">
                <input name="remark" placeholder="请输入备注信息" class="layui-input"
                       lay-verType="tips" lay-verify="required" required/>
            </div>
        </div>

        <div class="layui-form-item text-right">
            <button class="layui-btn" lay-filter="saveBtn" lay-submit>保存</button>
            <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
        </div>
    </form>
</script>
<!-- js部分 -->
<div th:replace="common/scripts :: common"></div>
<div th:replace="common/scripts :: custom"></div>
<div>
    <script>
        //全局变量 Shiro权限
        var shiroSave = false;
        var shiroDelete = false;
        var shiroUpdate = false;
        var shiroInfo = false;
    </script>
    <!-- 设置Shiro权限变量 -->
    <shiro:hasAllPermissions name="collectionInfo:save">
        <script>shiroSave = true;</script>
    </shiro:hasAllPermissions>
    <shiro:hasAllPermissions name="collectionInfo:delete">
        <script>shiroDelete = true;</script>
    </shiro:hasAllPermissions>
    <shiro:hasAllPermissions name="collectionInfo:update">
        <script>shiroUpdate = true;</script>
    </shiro:hasAllPermissions>
</div>
<script>
    layui.use(['layer', 'form', 'table', 'util', 'laydate', 'tableX', 'admin'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var util = layui.util;
        var laydate = layui.laydate;
        var tableX = layui.tableX;
        var admin = layui.admin;

        /* 渲染表格 */
        var cols = [
            {type: 'checkbox'},
            {field: 'userName', title: '记账会计', align: 'center'},
            {field: 'other1', title: '公司名称', align: 'center'},
            {field: 'price', title: '收费金额', align: 'center'},
            {
                field: 'upTime', title: '上次收费时间', templet: function (d) {
                    return util.toDateString(d.upTime);
                }, sort: true
            },
            {field: 'nextTime', title: '下次收费时间', align: 'center'},
            {
                field: 'expirationDate', title: '合同到期时间', templet: function (d) {
                    return util.toDateString(d.expirationDate);
                }, sort: true
            },
            {field: 'remark', title: '备注', align: 'center'},
            {title: '操作', toolbar: '#tableBar', align: 'center', minWidth: 200}
        ];

        $.ajax({
            url:"/extend/contract/contractInfo/userRoles/list",
            data:{"roleId":"14"},
            dataType:"json",
            type:"get",
            async:false,
            success :function (res) {
                var userInfo="<option value=''>请选择记账会计</option>"
                for(var i=0;i<res.data.length;i++){
                    var user=res.data[i];
                    userInfo+="<option value='"+user.id+"'>"+user.realname+"</option>"
                }
                $("#userId").html("")
                $("#userId").append(userInfo);
                form.render('select');
            }
        });

        var insTb = table.render({
            elem: '#dataTable',
            url: 'collectionInfo/page',
            page: true,
            toolbar: [shiroToolbar5(shiroSave, shiroDelete)].join(''),
            cellMinWidth: 100,
            limit:50,
            limits:[10,20,30,40,50,5000],
            cols: [cols],
            done: function () {
                // 绑定鼠标右键
                //tableX.bindCtxMenu('dataTable', shiroBindCtxMenu(shiroDelete, shiroUpdate));
            }
        });

        /* 渲染时间选择 */
        laydate.render({
            elem: 'input[name="dateRange"]',
            type: 'date',
            range: true,
            trigger: 'click'
        });


        /* 表格工具条点击事件 */
        table.on('tool(dataTable)', function (obj) {
            if (obj.event === 'edit') { // 修改
                showEditModel(obj.data);
            } else if (obj.event === 'del') { // 删除
                doDel(obj.data);
            } else if (obj.event === 'reset') { // 重置密码
                resetPsw(obj);
            }
        });

        /* 表格头工具栏点击事件 */
        table.on('toolbar(dataTable)', function (obj) {
            if (obj.event === 'add') { // 添加
                showEditModel();
            } else if (obj.event === 'del') { // 删除
                var checkRows = table.checkStatus('dataTable');
                if (checkRows.data.length === 0) {
                    layer.msg('请选择要删除的数据', {icon: 2});
                    return;
                }
                var ids = checkRows.data.map(function (d) {
                    return d.id;
                });
                doDel({ids: ids});
            }else if(obj.event === 'scsj'){
                scsj();
            }
        });

        // 显示编辑弹窗
        function showEditModel(mData) {
            admin.open({
                type: 1,
                area: '800px',
                title: (mData ? '修改' : '添加'),
                content: $('#formDialog').html(),
                success: function (layero, dIndex) {
                    $.ajax({
                        url:"/extend/contract/contractInfo/userRoles/list",
                        data:{"roleId":"14"},
                        dataType:"json",
                        type:"get",
                        async:false,
                        success :function (res) {
                            var userInfo="<option value=''>请选择记账会计</option>"
                            for(var i=0;i<res.data.length;i++){
                                var user=res.data[i];
                                userInfo+="<option value='"+user.id+"'>"+user.realname+"</option>"
                            }
                            $("[name='userId']").html("")
                            $("[name='userId']").append(userInfo);
                            form.render('select');
                        }
                    });

                    form.val('dataForm', mData);  // 回显数据
                    // 添加权限信息
                    form.on('submit(saveBtn)', function (data) {
                        $.post(mData ? 'collectionInfo/update' : 'collectionInfo/save', data.field, function (res) {
                            if (res.code == 0) {
                                layer.close(dIndex);
                                layer.msg(res.msg, {icon: 1});
                                insTb.reload({page: {curr: 1}});
                            } else {
                                layer.msg(res.msg, {icon: 2});
                            }
                        }, 'json');
                        return false;
                    });
                }
            });
        }

        form.on('submit(scBaobiao)',function (data) {
            if (data.field.dateRange) {
                var searchDate = data.field.dateRange.split(' - ');
                data.field.startDate = searchDate[0];
                data.field.endDate = searchDate[1];
            } else {
                alert("请选择需要生成的时间段！");
                return false;
            }

            $.get('collectionInfo/shencheng',{"startDate":data.field.startDate,"endDate":data.field.endDate}, function (res) {
                if (res.code === 0) {
                    layer.msg(res.msg, {icon: 1});
                    insTb.reload({page: {curr: 1}});
                } else {
                    layer.msg(res.msg, {icon: 2});
                }
            }, 'json');
        })

        /* 表格搜索 */
        form.on('submit(searchBtn)', function (data) {
            if (data.field.dateRange) {
                var searchDate = data.field.dateRange.split(' - ');
                data.field.startDate = searchDate[0];
                data.field.endDate = searchDate[1];
            } else {
                data.field.startDate = '';
                data.field.endDate = '';
            }
            data.field.dateRange = undefined;
            insTb.reload({where: data.field, page: {curr: 1}});
            return false;
        });

        /* 导出excel */
        $('#exportBtn').click(function () {
            var checkRows = table.checkStatus('dataTable');
            if (checkRows.data.length === 0) {
                layer.msg('请选择要导出的数据', {icon: 2});
            } else {
                tableX.exportDataX({
                    cols: insTb.config.cols,
                    data: checkRows.data,
                    fileName: '导出数据'
                });
            }
        });

        window.scsj = function (obj){
            $.get('collectionInfo/shencheng', function (res) {
                if (res.code === 0) {
                    layer.msg(res.msg, {icon: 1});
                    insTb.reload({page: {curr: 1}});
                } else {
                    layer.msg(res.msg, {icon: 2});
                }
            }, 'json');
        }


        /* 删除 */
        window.doDel = function (obj) {
            layer.confirm('确定要删除选中数据吗？', {
                skin: 'layui-layer-admin',
                shade: .1
            }, function (i) {
                layer.close(i);
                var loadIndex = layer.load(2);
                $.post('collectionInfo/delete', {
                    id: obj ? obj.id : '',
                    ids: obj.ids ? obj.ids.join(',') : ''
                }, function (res) {
                    layer.close(loadIndex);
                    if (res.code === 0) {
                        layer.msg(res.msg, {icon: 1});
                        insTb.reload({page: {curr: 1}});
                    } else {
                        layer.msg(res.msg, {icon: 2});
                    }
                }, 'json');
            });
        }
    });
</script>
</body>
</html>