<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gemframework.mapper.CustomerResearchMapper">
    <select id="findRightsByRoleAndType" resultType="com.gemframework.model.entity.po.CustomerResearch">
        SELECT
            *
        FROM
            rise_customer_research rc
        WHERE
            rc.corporate_name = #{name}
    </select>
</mapper>




